img {
  width: 30%;
  height: auto;
  margin: 10px;
  border: 2px solid black;
  padding: 4px;
  box-sizing: border-box;
  float: left;
}
.red {
  color: red;
}
.blue {
  color: blue;
}
.highlight {
  color: rgb(0, 153, 255);
}
body {
  font-family: sans-serif;
}
.box {
  margin: 10px;
  border: 2px solid black;
  padding: 4px;
  background-color: rgb(104, 255, 245);
}
h1 {
  text-align: center;
}